*{
    font-family: sans-serif;
}
p, span,ul{
    margin: 0;
}

input{
    border: none;
    appearance:none;
    -moz-appearance:none;
}

input:focus{
 outline:none;
}

//隱藏輸入框箭頭
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


//flex排版
.flex{
    display: flex;
}

.flex-jcc{
    justify-content: center;
}

.flex-aic{
    align-items: center;
}

//padding+margin
.container{
    padding: 8px;
}


.margin-lr{
    margin:0px 53px 0px 92px;
}
.padding-tb-74px{
    padding: 74px 0px 74px 0px;
}

.padding-bottom-23px{
    padding-bottom: 23px;
}

.padding-bottom-8px{
    padding-bottom: 8px;
}

.padding-tb-18px{
    padding: 18px 0px 18px 0px;
}

.padding-tb-48px{
    padding: 48px 0px 48px 0px;
}

//字級
.font-size-18px{
    font-size: 18px;
}

.font-size-24px{
    font-size: 24px;
}