//主要色系
//橘色
$primary-color:#FFD366;
//深灰
$dark-gray:#424242;
//淺灰
$light-gray:  rgb(250,250,250);

//白色
$white:#fff;

//判定BMI顏色
$perfect-body:#86D73F;
$over-thin:#31BAF9;
$over-weight:#ffca92;
$over-s-weight:#ffa05d;
$over-m-weight:#FF6C03;
$over-l-weight:#FF1200;

.perfect-body{
    color: $perfect-body;
}

.perfect-body-bg{
    background-color: $perfect-body;
}

.over-thin{
    color: $over-thin;
}

.over-thin-bg{
    background-color: $over-thin;
}

.over-weight{
    color: $over-weight;
}

.over-weight-bg{
    background-color: $over-weight;
}

.over-s-weight{
    color:$over-s-weight ;
}

.over-s-weight-bg{
    background-color:$over-s-weight ;
}

.over-m-weigh{
    color: $over-m-weight;
}

.over-m-weigh-bg{
    background-color: $over-m-weight;
}

.over-l-weight{
    color: $over-l-weight;
}

.over-l-weight-bg{
    background-color: $over-l-weight;
}

//顏色
.primary-color{
    color: $primary-color;
}

//背景色
.bg-color{
    background-color: $dark-gray;
}

.primary-color-bg{
    background-color: $primary-color;
}


//BMI判定顏色
.bmi-perfect{
    background-color: $perfect-body;
}

.bmi-over-thin{
    background-color: $over-thin;
}

.bmi-over-weight{
    background-color: $over-weight;
}

.bmi-over-s-weight{
    background-color: $over-s-weight;
}

.bmi-over-m-weight{
    background-color:$over-m-weight;
}

.bmi-over-l-weight{
    background-color:$over-l-weight;
}