//元件 看結果按鈕
.output-result-btn{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $primary-color;
    cursor: pointer;
    &:hover{
        filter: drop-shadow(0px 0px 5px $primary-color);
    }
    &:active{
        background-color:  #DEA821;
    }
}

//元件 輸入框
.body-data-input{
    width: 250px;
    // height: 24px;
    border:2px solid $primary-color;
    border-radius: 10px;
    background-color: $light-gray;
    color: $white;
    padding: 8px;
}

//元件 icon大小
.bmi-icon-size{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: $dark-gray;
    mask: url(/img/BMICLogo.png) no-repeat;
    mask-size: 100% 100%;
}
